/* 实现页面布局主要应用到两种方法，一种是CSS浮动，一种是Flexbox */
/* 什么是浮动元素：浮动元素同时处于常规流内和流外的元素。其中块级元素认为浮动元素不存在，
而浮动元素会影响行内元素的布局，浮动元素会通过影响行内元素间接影响了包含块的布局。

常规流：页面上从左往右，从上往下排列的元素流，就是常规流
脱离常规流：绝对定位，fixed定位的元素有自己固定的位置，脱离了常规流
包含块：一个元素离它最近的块级元素是它的包含块 */

.class1 {
    /* 指定不允许元素周围有浮动元素 */
    clear: both;
}

/* 清除浮动的方式
（高度塌陷：当所有的子元素浮动的时候，且父元素没有设置高度，此时父元素就会高度塌陷）

1.父元素定高度

2.浮动元素后面加上空标签 */
.class33 {
    clear: both;
    height: 0;
    overflow: hidden;
}

/* 3.父元素定义overflow：auto

4.伪对象 */
.farther ::after {
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}