/* 绝对定位 */
div {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
/* 父级控制子集居中 */
.parent {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* transform */
.child {
    position: relative | absolute;
    top: 50%;
    left: 50%
}

/* 水平居中 */
.farther1 {
    text-align: center;
}

.child11 {
    display: inline-block;
}

/* transform属性允许你旋转，缩放，倾斜或平移给定元素。这是通过修改CSS视觉格式化模型的坐标空间来实现的 */